*.iml
.gradle
/local.properties
/passwords.properties
/release-keystore.properties
/app/release-keystore.jks
/service-account.json
/release-keystore.jks
/.idea*
/.kotlin*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
playstorepublish/build